*.stackdump
.idea/
autolock/*
autoSynth/data/*
AutoRA/*
AutoWS/data/*
azureSets/Readme.md
azureSets/azuresets.lua
azureSets/data/*7z
azureSets/data/*old.xml
barfiller/*
battlemod/battlemod.lua
battlemod/data/filters/filters - Copy (2).xml
battlemod/data/filters/filters - Copy (3).xml
battlemod/data/filters/filters - Copy.xml
battlemod/generic_helpers.lua
battlemod/parse_action_packet.lua
battlemod/README.md
battlemod/statics.lua
BLUAlert/
bluguide/*
boxdestroyer/*
camper/data/settings.lua
cancel/cancel.lua
chars/*
ChatLink/*
Clock/
ConsoleBG/*
discarded code.lua
DistancePlus/
DressUp/*
enemybar/*
eval/*
FastCS/*
findAll/*
GearSwap/*
GearSwap.backup/*
GMmode/bintest.txt
HealBot*
healBot_*.7z
highlight/*
info/*
InfoBar/
InfoReplacer/
instaLS/*
JobChange/
libs/*
Logger/*
Lookup/
macrochanger/*
MobCompass/
Nostrum/
OhNoYouDont*
ohShi/*
Omen/
organizer/*
ParseBoard/*
pet_fix/pet_fix.lua
PetSchool/*
PetTP/*
plasmon/*
pointwatch/*
porter/*
Pouches/*
reive/*
scoreboard/*
ScriptedExtender
send/*
shortcuts/data/aliases_default.xml
shortcuts/helper_functions.lua
shortcuts/readme.md
shortcuts/shortcuts.lua
shortcuts/statics.lua
shortcuts/targets.lua
Silence/*
sparkGil/sparkGil.lua
SpellCheck/*
spellSpammer/spellSpammer_b.lua
stopwatch/*
timestamp/*
Text/*
thtracker/*
TParty/*
translate/*
Treasury/*
update/*
RAWR/
Rhombus/
SpeedChecker/
SubTarget/
TreasurePool/
VisibleFavor/
aatest/
autoinvite/
autojoin/
capetrader/
cellhelp/
craft/
distance/
dynamishelper/
gametime/
giltracker/
invtracker/
itemizer/
latentchecker/
linker/
lottery/
obiaway/
plugin_manager/
remember/
roe/
rolltracker/
salvage2/
setbgm/
stna/
targetinfo/
temps/
vwhl/
xivbar/
zonetimer/