*.stackdump
autolock/*
AutoRA/*
azureSets/Readme.md
azureSets/azuresets.lua
barfiller/*
battlemod/battlemod.lua
battlemod/data/filters/filters - Copy (2).xml
battlemod/data/filters/filters - Copy (3).xml
battlemod/data/filters/filters - Copy.xml
battlemod/generic_helpers.lua
battlemod/parse_action_packet.lua
battlemod/README.md
battlemod/statics.lua
bluguide/*
cancel/cancel.lua
chars/*
ChatLink/*
ConsoleBG/*
discarded code.lua
DressUp/*
enemybar/*
eval/*
findAll/*
GearSwap/*
GearSwap.backup/*
GMmode/bintest.txt
HealBot*
healBot_*.7z
info*
instaLS/*
libs/*
Logger/*
OhNoYouDont*
ohShi/*
organizer/*
ParseBoard/*
pet_fix/pet_fix.lua
PetSchool/*
PetTP/*
plasmon/*
pointwatch/*
porter/*
Pouches/*
reive/*
scoreboard/*
send/*
shortcuts/data/aliases_default.xml
shortcuts/helper_functions.lua
shortcuts/readme.md
shortcuts/shortcuts.lua
shortcuts/statics.lua
shortcuts/targets.lua
Silence/*
sparkGil/sparkGil.lua
SpellCheck/*
spellSpammer/spellSpammer_b.lua
stopwatch/*
timestamp/*
Text/*
thtracker/*
TParty/*
translate/*
Treasury/*
update/*
